body {
    font-family: 'Roboto';
}

.header {
    display: flex;
    flex-direction: column;
    border: 3px solid pink
}

.container {
    display: flex;
    border: 3px solid green;
    justify-content: space-between;
}

ul {
    display: flex;
    border: 3px solid blue;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    width: 400px;
    
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    border: 3px solid yellow;
}

img {
    width: 200px;
    height: auto;
    display: flex;
}

