* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

/* HEADER */

.header {
    display: flex;
    flex-direction: column;
    background-color: #5c1014;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    width: 400px;
    gap: 40px;
    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* WELCOME */

.content {
    display: flex;
    justify-content: space-between;
    background-color: #5c1014;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.mainpic {
    width: 50%;
    height: auto;
    display: flex;
    flex-shrink: 0;
}

button {
    background-color:#FBC841;
    border-radius: 8px;
    color: #5c1014;
    width: 150px;
    height: 55px;
    font-size: 20px;
    margin-top: 20px;
}

.logo img {
    width: 10%;
    -webkit-filter: invert(1);
   filter: invert(1);
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 400px;
}

.content p {
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
}

/* CONTENT */

.main {
    display: flex;
    flex-direction: column;
    background-image: url(shire.jpeg);

}

.quotation {
    display: flex;
    flex-direction: column;
}

.CTA {
    display: flex;
    flex-direction: column;
}

.main h2 {
    padding-top: 20px;
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    color: #a4de02;
}

.mainimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 200px;
}

figure {
    display: flex;
    flex-direction: column;
    width: 170px;
    padding: 10px;
    border-radius: 12px;
    border: 3px solid #FBDF7A;
}

figcaption {
    color: #1f2937;
    padding: 3px;
    text-align: center;
    background-color: #FBDF7A;
  }

/* QUOTE */

.quote {
    display: flex;
    flex-direction: column;
    border: 3px solid pink;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 7em 13em;
}

.quotation {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    font-family: 'Roboto';
    width: 830px;
}

.author {
    text-align: right;
    font-size: 30px;
    color: #1f2937;
    font-family: 'Roboto';
    font-style: bold;
}

/* SIGN UP */

.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    background-image: url(gandalf.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.CTAtime {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    padding: 40px;
    width: 50%;
    border-radius: 10px;
}

.CTAtext {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


strong {
    color: #1f2937;
    font-size: 24px;
}

.CTAtext p {
    color: #1f2937;
    font-size: 18px;
}

.CTAbutton {
    display: flex;
}

.signup2 {
    background-color: #FBC841;
    color: #5c1014;
    height: 100px;
    width: 150px;
}

/* FOOTER */

.footer {
    display: flex;
    background-color: #5c1014;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}